body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

img {
  padding: 5px;
}

.ref-image {
  width: 300px;
}

[draggable="true"] {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

ul.moveable {
  list-style: none;
  margin: 0;
  padding-left: 0;
}